* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: grey;
}

header {
  display: flex;
  width: 100%;
  min-height: 15vh;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #19882c 0%,
    rgba(10, 85, 23, 0.96) 100%
  );

  #logo {
    color: white;
    font-size: 5rem;
    font-family: VT323, Roboto;
    margin: 2rem;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sensors {
  font-family: Oswald, Roboto;
  position: relative;
  display: flex;
  min-height: 70vh;
  min-width: 60vw;
  background: #00420c;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  flex-direction: column;
  ul {
    list-style: none;
    li {
      margin: 1rem 0;
    }
  }
  h2 {
    position: absolute;
    margin-top: 2rem;
    font-size: 3rem;
    color: white;
    top: 0;
  }
  a {
    font-size: 1.3rem;
    padding: 5rem auto;
    text-decoration: underline;
    color: white;
  }
}

@media screen and (max-width: 730px) {
  .header {
    max-height: 10vh;
    #logo {
      text-align: center;
    }
  }
  .sensors {
    margin: 0;
    padding: 5rem;
    width: 100vw;
    height: 85vh;
  }
}
